@font-face {
    font-family: 'header';
    src: url("Audiowide-Regular.ttf");
         
}

h1 {
    font-family: 'header', sans-serif;
   
    
        display: flex;
        align-content:center
   }
h2{
    font-family: 'header', sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    background-color: black;
    color: white;
    text-align: center
    
   }
   h3{
    font-family: 'header', sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    background-color: black;
    color: white;
    text-align: center
   }
   
   #canvas{
       width:100%
   }